/* Section */
.section {
	width: 100%;
	height: 84.9vh;
}

.text {
	font-size: 15px;

	margin-bottom: 30px;
}

.section__text {
	padding: 30px 0;

	font-size: 30px;
}

.section__headertext {
	font-size: 30px;
	font-weight: 700;

	margin-bottom: 30px;
}

.wide {
	width: 100%;
}

.section__inner {
	display: flex;
	flex: wrap;

	margin-bottom: 30px;
}

.section__item {
	flex: 1 1 0;
	padding: 10px;

	text-align: center;
}

.border {
	border-right: 1px solid #808080;
	border-left: 1px solid #808080;
}

.section__img1 {
	width: 50%;
	height: 200px;
}

.section__img2 {
	width: 80%;
	height: 200px;
}

.section__img3 {
	width: 90%;
	height: 200px;
}