textarea {
	outline: none;
	resize: none;
	border: 1px solid #808080;

	width: 50%;
	padding: 5px;
	margin-bottom: 20px;

	font-size: 20px;

	border-radius: 5px;
	border-color: #808080;

	color: #525252;
}

textarea:focus {
	border: 1px solid #3a71fc;
}


/* Section */
.section {
	width: 100%;
	height: 84.9vh;
}

.section__text {
	padding: 30px 0;

	font-size: 30px;
}

.section__input {
	outline: none;
	border: 1px solid #808080;

	width: 35%;
	padding: 5px;
	margin-bottom: 20px;

	font-size: 20px;

	border-radius: 5px;
	border-color: #808080;

	color: #525252;
	font-style: italic;
}

.section__input:focus {
	border: 1px solid #3a71fc;
}

.section__unit input[type=text] {
	padding-left: 40px;
}

.section__unit input[type=email] {
	padding-left: 40px;
}

.section__unit textarea {
	padding-left: 40px;
}

.section__unit {
	position: relative;
}

.section__unit i {
	position: absolute;
	left: 0;
	top: 0;
	padding: 8px 12px;

	font-size: 20px;
}

.section__subtext {
	font-weight: 700;
	margin-bottom: 40px;
}


/* Button */
.button {
	border: none;
	outline: none;

	padding: 10px 20px;

	font-size: 20px;
	background-color: #fff;

	border: 1px solid #808080;
	border-radius: 10px;

	cursor: pointer;

	transition: all .2s linear;
}

.button:hover {
	background-color: #2b7ffc;
	color: #fff;
}

.button:active {
	background-color: #2361fc;
}