/* Section */
.section {
	width: 100%;
}

.section__elem {
	margin-bottom: 20px;
}

.section__text {
	font-size: 30px;
	font-weight: 700;

	padding-bottom: 30px;
}

.text {
	font-size: 15px;

	padding-bottom: 10px;
}

.section__inner {
	display: flex;
	flex: wrap;
}

.section__item {
	width: 100%;

	margin: 30px 0;
}

.section__item:first-child {
	width: 270px;
	height: 465px;

	padding-right: 30px;
	border-right: 3px solid #d1d1d1;
}

.section__item:last-child {
	margin-left: 30px;
}


/* Select */
.select {
	outline: none;

	width: 100%;
	padding: 5px;

	font-size: 12px;
	border: 1px solid #808080;

	cursor: pointer;
}


/* Catalog */
.catalog__inner {
	display: flex;
	flex: wrap;

	text-align: center;
}

.catalog__item {
	flex: 1 1 0;

	padding: 10px 10px;
	margin: 0 5px;

	transition: opacity .2s linear;
}

.catalog__item:hover {
	opacity: .8;
}

.catalog__img {
	width: 90%;
	height: 350px;
}

.catalog__headertext {
	width: 90%;

	font-size: 25px;
	color: #000;

	margin: 10px 15px;
}

.catalog__describetext {
	width: 90%;

	font-size: 15px;
	line-height: 1.5;
	color: #808080;

	margin: 10px 15px;
}


/* Button */
.button {
	border: none;
	outline: none;

	margin-top: 20px;

	padding: 10px 20px;

	font-size: 12px;
	background-color: #fff;

	border: 1px solid #808080;

	cursor: pointer;

	transition: all .2s linear;
}

.button:hover {
	background-color: #2b7ffc;
	color: #fff;
}

.button:active {
	background-color: #2361fc;
}


/* Slider */
.slider {
  	-webkit-appearance: none;
  	width: 100%;
  	height: 15px;
 	border-radius: 5px;  
  	background: #d3d3d3;
  	outline: none;
  	opacity: 0.7;
  	-webkit-transition: .2s;
  	transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  	-webkit-appearance: none;
  	appearance: none;
  	width: 25px;
  	height: 25px;
  	border-radius: 50%; 
  	background: #808080;
  	cursor: pointer;
}

.slider::-moz-range-thumb {
  	width: 25px;
  	height: 25px;
  	border-radius: 50%;
  	background: #808080;
  	cursor: pointer;
}