body {
	margin: 0;

	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1;
	color: #333;
}

*, *:before, *:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, {
	margin: 0;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
}


/* Container */
.container {
	width: 100%;
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}


/* Header */
.header {
	width: 100%;
	padding: 15px 0;

	background-color: #e8e6e6;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	font-family: 'Sriracha', cursive;
	font-size: 40px;
	color: #333;
}

/* .header__img {
	width: 3%;
	height: 25px;

	margin-right: 490px;
} */


/* Intro */
.intro {
	width: 100%;
	margin: 61px 0;
}

.intro__inner {
	display: flex;
	justify-content: space-between;
}

.intro__img {
	display: block;
	margin: 0 20px;
	position: relative;
}

.intro__subtext {
	width: 100%;
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	z-index: 1;

	color: #333;

	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: 85px;
	opacity: .8;
	color: #fff;
}

i.fa-arrow-circle-left:before,
i.fa-arrow-circle-right:before {
	transition: color .2s linear;
}

i.fa-arrow-circle-left:hover:before,
i.fa-arrow-circle-right:hover:before {
	cursor: pointer;
	color: #808080;
}

.intro__arrow {
	display: flex;
	align-items: center;

	font-size: 80px;
	color: #333;
}


/* Nav */
.nav {
	font-size: 15px;
	text-transform: uppercase;
}

.nav__link {
	display: inline-block;
	vertical-align: top;

	margin: 0 15px;
	color: #333;

	position: relative;

	transition: color .2s linear;
}

.nav__link:after {
	content: "";

	display: block;
	width: 100%;
	height: 1px;

	background-color: #808080;
	opacity: 0;

	position: absolute;
	top: 120%;
	left: 0;
	z-index: 1;

	transition: opacity .2s linear;
}

.nav__link:hover {
	color: #808080;
}

.nav__link:hover:after,
.nav__link.active:after {
	opacity: 1;
}

.spec {
	color: #808080;
}

.spec.nav__link:after {
	opacity: 1;
}


/* Links */
.links {
	width: 100%;
	background-color: #e8e6e6;
}

.link {
	display: flex;
	flex: wrap;
}

.link__item {
	flex: 1 1 0;
	padding: 70px 25px;

	border-left: 1px solid #333;
	text-align: center;
}

.link__item:last-child {
	border-right: 1px solid #333;
}

.link__icon {
	margin-bottom: 35px;

	font-size: 30px;
	font-weight: 700;
}

.link__text {
    font-size: 30px;
    color: #333;
}

i.fa-arrows-alt-h:before {
	border: 1px solid #333;
	border-radius: 50%;
	padding: 15px;

	color: #333;
	background: #fff;

	cursor: pointer;

	transition: all .2s linear;
}

i.fa-arrows-alt-h:hover:before {
	color: #fff;
	background: #333;
}

i.fa-camera:before {
	border: 1px solid #333;
	border-radius: 50%;
	padding: 15px;

	color: #333;
	background: #fff;

	cursor: pointer;

	transition: all .2s linear;
}

i.fa-camera:hover:before {
	color: #fff;
	background: #333;
}


/* Clothes */
.clothes {
	display: flex;
	flex: wrap;

	margin: 61px 0;
}

.cloth__item {
	flex: 1 1 0;
	margin-right: 2px;
	position: relative;
}

.cloth__item:last-child {
	margin-right: 0;
	margin-left: 2px;
}

.cloth__text {
	padding: 0 0 20px 80px;
	font-size: 20px;
}

.cloth__text:last-child {
	padding-bottom: 80px;
}

.head {
	padding: 20px 80px 20px;

	font-size: 40px;
}

.cloth__img {
	position: absolute;
	bottom: 0;
	padding-bottom: 2px;
}

.c_i {
	transition: opacity .2s linear;
}

.c_i:hover {
	opacity: .8;
}


/* Footer */
.footer {
	background-color: #454545;
}

.footer__text {
	padding: 15px 0;

	text-align: center;
	color: #fff;
}